* {
    margin: 0;
    color: #999999;
    font-family: Arial, Helvetica, sans-serif;
}

.centro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 800px;
}

.bl {
    border: none;
    border-left: 1px solid #DDDDDD;
    width: 1px;
    height: 1px;
    font-size: 18px;
}

tbody .fundo-cinza {
    background-color: #F7F7F7;
}

.divisao td,
.divisao th,
#bln {
    border-top: 4px solid #DDDDDD;

}

#bln {
    border-left: none;
}

th .rebaixado {
    color: red;
}

th {
    text-align: center;
}

.pontos {
    font-weight: bold;
    color: black;
    text-align: center;
}

.nometime {
    font-size: 14px;
    font-weight: bold;
    color: #666666;
    text-align: left;
}

.titulos {
    border: none;
    border-top: 1px solid #DDDDDD;
    color: #999999;
    font-size: 16px;
}

.info {
    border: 1px solid #DDDDDD;
    color: #8F8F8F;
    font-size: 12px;
}

.cor {
    border-radius: 3px;
}